/***** BEGIN BASE STYLES *****/

body {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

h1,
h2,
h3,
h4 {
  color: black;
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
  font-size: 30px;
}

h2 {
  color: #77a466;
  font-size: 24px;
}

h3 {
  color: black;
  font-size: 16px;
}

h4 {
  font-size: 12px;
}

p {
  font-size: 14px;
  line-height: 21px;
  padding: 0 30px;
}

/***** END BASE STYLES *****/

/***** BEGIN GRID *****/

.section-one,
.section-two,
.section-three {
  border-top: 1px solid #eee;
  float: left;
  height: auto;
  width: 399px;
}

/***** END GRID *****/

/***** BEGIN HEADER *****/

header {
  height: 110px;
  border-bottom: 3px solid #77a466;
  margin: 0 auto;
}

 header h1 {
   float: left;
   margin:  0;
   padding:  35px;
   text-transform: uppercase;
 }

 header h1 span {
   color: #77a466;
 }

/***** END HEADER *****/

/***** BEGIN NAV BAR *****/

 nav {
    float: right;
    padding: 40px;
    text-decoration: none;
    text-transform: uppercase;
 }

 nav ul {
   display: inline;
   margin: 0;
   padding:  0;
}

 nav ul li {
  display: inline;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  padding: 0 10px;
 }

 nav ul li a {
   color: #77a466;
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   font-weight: 700;
   text-decoration: none;
 }

/***** END NAV BAR *****/

/***** BEGIN TOP SECTION *****/

.top-section {
  clear: both;
  margin: 0 auto;
}

.main-image {
  height: auto;
  float: left;
}
.main-image img {
  border-bottom: 3px solid #77a466;
}

.main-title {
  height: auto;
  float: left;
}
.main-title h3 {
  text-align: left;
  padding: 5px 0;
  color: #77a466;
}
.main-title p {
  padding: 0;
  font-size: 16px;
  line-height: 25px;
}

iframe {
    border: 1px solid #000000;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
}

#gallery img {
  border: 1px solid #000000;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  text-align: center;
}

#menu img {
  border: 1px solid #000000;
  display: inline-block;
  height: 250px;
  margin: 0 auto;
  text-align: center;
  width: 375px;
}

.reviews {
  padding-bottom: 50px;
}

.review-left {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    overflow: auto;
    width: 550px;
}

.review-left img {
    border: 1px solid #000000;
    float: left;
    margin-right: 20px;

}

.review-left blockquote,
.review-left figcaption {
    font-size:  14px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: inline;
    margin: 2px 0 0 0;
}

.review-right {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    overflow: auto;
    width: 550px;
}

.review-right img {
    border: 1px solid #000000;
    float: right;
    margin-left: 20px;
}

.review-right blockquote,
.review-right figcaption {
    font-size:  14px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline;
    margin: 2px 0 0 0;
}

.item {
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    width: 375px;
}

/***** END TOP SECTION *****/

/***** BEGIN BOTTOM SECTION *****/

.bottom-section {
  clear:  both;
  margin:  0 auto;
}

.section-one,
.section-two,
.section-three {
  border-top: 1px solid #eee;
  float: left;
  height: auto;
  width: 399px;
}

.section-one h3 {
  padding: 10px;
  text-transform: uppercase;
}

.section-two {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.section-two h3,
.section-three h3 {
  padding: 10px 30px;
}

#menu img {
  border: 1px solid #000000;
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 10px 0;
  color:#77a466;
}

.reviews {
  color: #333;
  font-size: 16px;
  line-height: 21px;
}

.address {
  color: #333;
  font-size: 16px;
  line-height: 24px;
}

/***** END BOTTOM SECTION *****/

/***** BEGIN FOOTER *****/

footer {
  border-top: 2px #dedbdc solid;
  clear: both;
  height: 50px;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
}

footer p {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

footer span {
  color: #77a466;
  font-family: 'Galada', cursive;
  font-size:  14px;
  text-transform: lowercase;
}

/***** END FOOTER *****/
